{% include base_path %}

<link rel="apple-touch-icon" sizes="57x57" href="{{ base_path }}/images/logo/apple-touch-icon-57x57.png?v=2">
<link rel="apple-touch-icon" sizes="60x60" href="{{ base_path }}/images/logo/apple-touch-icon-60x60.png?v=2">
<link rel="apple-touch-icon" sizes="72x72" href="{{ base_path }}/images/logo/apple-touch-icon-72x72.png?v=2">
<link rel="apple-touch-icon" sizes="76x76" href="{{ base_path }}/images/logo/apple-touch-icon-76x76.png?v=2">
<link rel="apple-touch-icon" sizes="114x114" href="{{ base_path }}/images/logo/apple-touch-icon-114x114.png?v=2">
<link rel="apple-touch-icon" sizes="120x120" href="{{ base_path }}/images/logo/apple-touch-icon-120x120.png?v=2">
<link rel="apple-touch-icon" sizes="144x144" href="{{ base_path }}/images/logo/apple-touch-icon-144x144.png?v=2">
<link rel="apple-touch-icon" sizes="152x152" href="{{ base_path }}/images/logo/apple-touch-icon-152x152.png?v=2">
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/logo/apple-touch-icon-180x180.png?v=2">
<link rel="icon" type="image/png" href="{{ base_path }}/images/logo/favicon-32x32.png?v=2" sizes="32x32">
<link rel="icon" type="image/png" href="{{ base_path }}/images/logo/android-chrome-192x192.png?v=2" sizes="192x192">
<link rel="icon" type="image/png" href="{{ base_path }}/images/logo/favicon-96x96.png?v=2" sizes="96x96">
<link rel="icon" type="image/png" href="{{ base_path }}/images/logo/favicon-16x16.png?v=2" sizes="16x16">
<link rel="manifest" href="{{ base_path }}/images/logo/manifest.json?v=2">
<link rel="mask-icon" href="{{ base_path }}/images/logo/safari-pinned-tab.svg?v=2" color="#000000">
<link rel="shortcut icon" href="/images/logo/favicon.ico?v=2">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="{{ base_path }}/images/logo/mstile-144x144.png?v=2">
<meta name="msapplication-config" content="{{ base_path }}/images/logo/browserconfig.xml?v=2">