<!--<i class="fa fa-clock-o" aria-hidden="true"></i> -->

{% if page.read_time_minutes %}
  {{ page.read_time_minutes }} {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
{% elsif post.read_time_minutes %}
  {{ post.read_time_minutes }} {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
{% elsif site.words_per_minute %}
    {% if post.read_time %}
        {% assign words = post.content | strip_html | number_of_words %}
    {% elsif page.read_time %}
        {% assign words = page.content | strip_html | number_of_words %}
    {% endif %}

    {% if words < 180 %}
	  {{ site.data.ui-text[site.locale].less_than | default: "less than" }} 1
	{% elsif words < 360 %}
	  1
	{% else %}
	  {{ words | divided_by:site.words_per_minute }}
	{% endif %}
	{{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
{% else %}
  {{ site.data.ui-text[site.locale].undefined_wpm | "Undefined parameter words_per_minute at _config.yml" }}
{% endif %}
