{{#if resume.work.length}}
<div class="container work-container">
    {{> title value="Experience"}}

    {{#each resume.work}}
        <section class="item">
            {{> section-header name=this.company prefix=this.position }}

            {{!-- {{#if position}}
            <h4>{{position}}</h4>
            {{/if}} --}}

            {{#if summary}}
            <p class="summary">{{{filter summary "markdown"}}}</p>
            {{/if}}

            {{#if highlights.length}}
            <ul>
                {{#each highlights}}
                <li>{{{filter . "markdown"}}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </section>
    {{/each}}
</div>
{{/if}}