select.cv_archive_select {
    background-color: #fff;
    // appearance: none;
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    padding: 6px;
    box-shadow: none;
    margin-bottom: 0;
}
.no-js .js-only {
    display: none;
}