<table style="margin-bottom: 0;">
  <tbody>
    <tr style="text-align: center;">
      <td>
        <a href="/cv_archive/{{page.cv_archive_code}}">Web version</a>
      </td>
      <td>
        <a href="/files/cv/{{page.cv_archive_code}}/CV_SamuelWinslowStark.pdf">PDF version</a>
      </td>
    </tr>
  </tbody>
</table>

<table class="js-only" style="margin-top: 0; border-top: none;">
  <tbody>
    <tr style="text-align: center;">
      <td colspan="2" style="padding: 0;">
        <!-- https://stackoverflow.com/a/12287729 -->
        <select class="cv_archive_select" onChange="window.location.href=this.children[this.selectedIndex].attributes.href.value">
          <option value="current" href="/cv/">Current</option>
          {% for archive_page in site.cv_archive %}
            {% if archive_page.cv_archive_code == page.cv_archive_code %}
          <option value="{{ archive_page.cv_archive_code }}" href="{{archive_page.permalink}}" selected>{{archive_page.title}}</option>
            {% else %}
          <option value="{{ archive_page.cv_archive_code }}" href="{{archive_page.permalink}}">{{archive_page.title}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </td>
    </tr>
  </tbody>
</table>

<noscript>
  <table style="margin-top: 0; border-top: none;">
    <tbody>
      <tr style="text-align: center;">
        <td colspan="2">
          <a href="/cv_archive/">Other archived CVs</a>
        </td>
      </tr>
    </tbody>
  </table>
</noscript>

